iframe{
  width: 70%;
  height: 80vh;
  position: relative;
  top: 19vh;
  left: 15%;
}
.playName{
  position: absolute;
  top: 7.5vh;
  color:  white;
  width: 100%;
  display: flex;
  align-items: center;
justify-content: center;
}
.serverRight{
  position: absolute;
  right: 0;
  background: red;
  height: 93vh;
  width: 10vw;
  top: 7vh;

}
.serverLeft{
  position: absolute;
  left: 0;
  background: red;
  height: 93vh;
  width: 60px;
  top: 7vh;
}