.MainMost{
    width: 100%;
    height: 48vw;
    position: relative;
overflow: hidden;
}
.ContanerMost{
    width: 480px;
    position: absolute;
    direction: rtl;
    bottom:  18vw;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    right: 0 ;
    z-index: 2;
    transform: 0.3s;
    transition: 0.3s;
    div{
        width: 100%;
        margin: 5px 0;
        padding-right: 10px;
    }
}
.nameMost{
    font-size: 2vw;
    opacity: 0.6;
 font-family: Arial, Helvetica, sans-serif;
 transform: 0.3s;
 transition: 0.3s;
 cursor: pointer;
 &:hover{
     opacity: 1;
 }
}

.Contaneroverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg
         ,rgba(#1a0404,0) 50%,rgba(#1a0404, 0.8) 69%,#200808 85%),linear-gradient(
         180deg
         ,rgba(#1a0404,0) 78%,rgba(#1a0404,.49) 89%,rgba(#1a0404,.8) 96%,#1a0404);
    z-index: 1;
}
.ContanerContant{
    position: absolute;
    width: 100%;
    height: 56.25vw;
}

.ContanerSp{
display: flex;
font-size: 1.2vw;
opacity: 0.6;
font-family: Arial, Helvetica, sans-serif;
transform: 0.3s;
transition: 0.3s;

div{
    width: auto;
    margin-right: 10px;
}

}
.settingMost{
display: flex;
align-items: center;
padding: 6px;

.play{
    transform: 0.5s;
      transition: 0.5s;   
      display: flex;
     width: 9.5vw;
     font-size: 1.2vw;
     height: 50px;
     color: white;
     cursor: pointer;
     align-items: center;
     position: relative;
     justify-content: center;
     background: linear-gradient(   90deg,#720101 0,black);
     border-radius: 80px;
   opacity: 0.7;
   overflow: hidden;
  &:hover{
      opacity: 1;
  }
  }
  .play:after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
	transition: 0.3s;
}

.play:hover:after{

	left: 100%;
}
.list{ // add list
    display: flex;
    border: 2px groove  rgb(110, 55, 55);
    width: 150px;
    border-radius: 12px;
    height: 50px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    color: white;
    cursor: pointer;
    align-items: center;
    border: 2px solid #720101;
    justify-content: center;
    background: black;
    border-radius: 80px;
opacity: 0.7;
  overflow: hidden;
&:hover{
    opacity: 1;
}
}
.list:after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
	transition: 0.3s;
}

.list:hover:after{

	left: 100%;
}

.share{//share icon
 width: 50px;
 height: 50px;
 transform: 0.5s;
 transition: 0.5s;
 display: flex;
margin-right: 15px;
 position: relative;
 height: 100%;
 color: white;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 span{
    width: 40px;
    height: 40px;
}
 div{
     margin-right: -14px;
     z-index: 500;
     div{
         display: flex;
         justify-content: center;
         align-items: center;
     width: 55px;
     z-index: 500;
   
 }}

 &:hover{

    color: rgb(255, 255, 255);

}
     
}
}

.ContanerSpeker{
    width: 40px;
    height: 40px;
    background: linear-gradient(   90deg,#720101 0,black);
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.945);
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 8px -1px #2c0a0a; 
    box-shadow: 2px 4px 8px -1px #250808;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vw;
    left: 20px ;  
    z-index: 2;
    &:hover{
        opacity: 1;
        -webkit-box-shadow: 2px 4px 8px 1px #3D0D0D; 
        box-shadow: 2px 4px 8px 1px #3D0D0D;
    }
}
.discriptionMost{
    font-size: 16px;
    opacity: 0.5;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 63px;
    overflow: hidden;
}
.TimeMost{
    font-size: 16px;
    opacity: 0.5;
   padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.heros{
    font-size: 16px;
    opacity: 0.5;
   padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif; 
}
.searss{
    padding-top: 10px;
    
div{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(   90deg,#720101 0,black);
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.945);
    border-radius: 4;
    display: flex;
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 8px -1px #2c0a0a; 
    box-shadow: 2px 4px 8px -1px #250808;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media screen and (max-width: 500px) {
    .MainMost{
        min-height: 100vh;
    }
    .ContanerMost{
        width: 100%;
        background-image: linear-gradient(
            180deg
             ,rgba(#1a0404,0) 0%,rgba(#1a0404, 0.8) 12%,#200808 40%);
        bottom:  17vw;
        font-size: 18px;
    
        div{
            width: 100%;
            margin: 5px 0;
            padding-right: 10px;
        }
    }
    .nameMost{
  font-size: 20px;
  position: relative;
  top: 10px;
  opacity: 0.8;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

    }
    .Contaneroverlay{
    display: none;
    }
    .ContanerContant{
        height: 92vh;
        
    }
    
    .ContanerSp{
    display: block;
    position: relative;
    font-size: 18px;
    top: 10px;
    div{
        width: auto;
    }
    .mostGeneress{
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
 
    }
.dateMost{
position: relative;
bottom: 70px;
right: 15vw;
}
    }

    .settingMost{
    padding: 0px;
    display: block;

    .play{
        transform: 0.5s;
          transition: 0.5s;   
          display: flex;
          flex-wrap: wrap;
         width: 90%;
         font-size: 20px;
         height: 50px;
         margin-right: 2.5vw;
         margin-bottom: 15px;
      }
   
    .list{ // add list
        width: 40px;
        height: 40px;
        margin-right: 20vw;
        padding-left: 8px;
        margin-bottom: -50px;
        position: relative; 
        border-radius: 50%;
      span{
          display: none;
      }
    }

    
    .share{//share icon
     width: 40px;
     height: 40px;
    margin-right: 60vw;
    margin-top: 10px;
    }
    }
    
    .ContanerSpeker{
   display: none;
    }
    .discriptionMost{
        font-size: 16px;
        opacity: 0.5;
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .TimeMost{
        font-size: 16px;
        opacity: 0.5;
       padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .heros{
        font-size: 16px;
        opacity: 0.5;
       padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif; 
    }
    .searss{
        padding-top: 10px;
        
    div{
        width: 90vw;
        margin-right: 2vw;
        height: 40px;
    }
    }
}