.contanerShared{
    width: 60px;
    overflow: hidden;
    display: flex;
   
}
.innerShare{
    width: 60px;
    display: flex;
justify-content: center;
flex-wrap: wrap;

}
.IconShare{
    color: rgb(24, 6, 6);
  border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(240, 248, 255, 0.39);
    transform: 0.5s;
    transition: 0.5s;
    border-radius: 50%;
    &:hover{
        transform: 0.5s;
        transition: 0.5s;
        background: rgba(240, 248, 255, 0.712);
    }
}
.MainShare{
 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    background: red;
}