@keyframes scale {
  0% {
      width: 12.2vw;
      height: 18.164vw;
     padding: 0;
    }
   
 100% {
      width: 18.08vw;
      height: 20.3vw;
      left: 1px;
      border-left: 1px solid #9e00005e;
      border-right: 1px solid #9e00005e;
  }
}


@keyframes scale1024 {
  0% {
      width: 12.2vw;
      height: 27.44vw;
     padding: 0;
    }
   
 100% {
      width: 30.08vw;
      height: 35.66vw;
      left: 1px;
      border-left: 1px solid #9e00005e;
      border-right: 1px solid #9e00005e;
  }
}
@keyframes showwwww {
  0% {
   opacity: 0;
    }
    40%{
      opacity: 0.6; 
    }
  100% {
      opacity: 1;
  }
}
@keyframes ser {
  0% {
   opacity: 0.6;
    }
    40%{
      opacity: 0.7; 
    }
    50%{
      opacity: 1; 

    }
    90%{
      opacity: 0.7; 
    }

  100% {
      opacity: 0.6;
  }
}
.NameSliderMain{
  position: absolute;
  top: 2vh;
color: rgba(255, 255, 255, 0.63);
display: none;

}
.infoSliderMain{
  position: absolute;
 color: white;
 top: 5vw;
 width: 100%;
 font-size: 14px;
  z-index: -1;
  display: none;
}
.videoT{
position: relative;
left: 0;
top: -10px;
}
.MainSlideeer{

  margin-top: 80px;
}
.nameSearchMovie{
  position: relative;
  width: 100%;
  font-size: 1.1vw;
  color: rgba(white,  0.8);

  display: flex;
  justify-content: center;
  text-align: center;

}
.swiper-button-prev,.swiper-button-next{
  display: none;
}

.dateSlider{
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  font-size: 17px;
  color: white;
bottom: 2px;
left: 2px;
background:rgba(black, 0.6);

}
.FinalSlider{
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  font-size: 18px;
  color: rgb(0, 0, 0);
top: 2px;
left: 2px;
background:rgba(rgb(252, 252, 252), 0.4);

}
.overTraler{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 57%;
}
.NoSErSlider{
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  font-size: 17px;
  color: white;
top: 2px;
right: 2px;
background:rgba(black, 0.4);

}
.nameSliderr{
  width: 99.8%;
  font-size: 24px;
  color: #9e9797;
  direction: rtl;
  border-right:4px solid #72010157;
  padding-right: 10px;
padding-top: -10px;
  margin-bottom: -32px;
  margin-right: 1%;
  height: 30px;
 
  span{
      cursor: pointer;
 
      &:hover{
        color: #eee7e7;
      }
  }
}

.firstSlider{
  position: relative;
  bottom: 16.3vh;
}
.sitingsSlider{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.disSliderMovie{
  position: relative;
  width: 100%;
  margin-top: 10px;
   max-height: 60px;
   overflow: hidden;
  font-size: 14px;
  color: rgba(white,  0.7);
  display: flex;
  justify-content: center;
  text-align: center;
}
.moreOther{
  display: none;
  animation: 0.55s 1 linear;
  animation-delay: 0.8s;
  animation-name: showwwww;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background:rgba(black, 0.95);

}

.bottonSlider{
  border-radius: 50%;
  background: transparent;
  color: rgb(134, 133, 133);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
width: 1.0vw;
height: 1.6vw;
 margin: 0.2vw;
 .btn_It{
   width: 1.2vw;
 }
 &:hover{
   border-color: #9e00005e;
   .btn_It{
     transform: 0.4s;
     transition: 0.4s;
     transition-delay: 0.4;
     color: rgb(226, 226, 226);
   }
 }
}
.poom{
  animation: ser infinite 1.5s linear;
margin-top: 50px;
}
.ItemSwiper{
  background: #9e00005e;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 17.43vw;
  transition: 0.3s;
  transform: 0.3s;
  &:hover{
      animation: 0.1s 1 linear;
      animation-delay: 0.4s;
      animation-name: scale;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      .moreOther{

        display:block;
      }
  }
}

.innerItem{
 position: relative;
 width: 100vw;
 height: 60vw; 
 z-index: 581458;

 background: red;
}
@media screen and (max-width: 1024px) {
  .disSliderMovie{
    font-size: 16px;
  }
  .nameSearchMovie{
    font-size: 16px;
  }

  .ItemSwiper{

    height: 27.44vw;
    &:hover{
        animation: 0.1s 1 linear;
        animation-delay: 0.4s;
        animation-name: scale1024;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
  }

  .MainSlideeer{
      margin-top: 30px;
  }
  .nameSliderr{
      font-size: 24px;
  }


}
@media screen and (max-width: 500px) {


  .FinalSlider{
    width:40%;
    height:20px;
    font-size:12px;
   border-radius:850px;
   left: 1px;
   top:1px;
  }

  .dateSlider{
    width:60%;
    height:20px;
    font-size:12px;
    border-radius:850px;
   left: 20%;
   bottom:1px;
  }
  .NoSErSlider{
    width:40%;
    height:20px;
    font-size:10px;
    border-radius:850px;
   right:  1px;
   top:1px;
  }
  .MainSlideeer{
      margin-top: 43px;
  }
  .nameSliderr{
      font-size: 20px;
     

  }

  .ItemSwiper{
    border-radius: 4px;
      height: 40.28vw;
      &:hover{
          animation-name: none;
          animation-duration: 0s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
         }
  }

}

