@keyframes show {
    0% {
        right: -100vw;
     
      }
      50%{
        right: -30vw;
        opacity: 0.6;
      }
    100% {
        right: 0;
        opacity: 1;
      
    }
  }
.authMobile{
    position: absolute;
    display: flex;
    width: 100vw;

    justify-content:center;
    align-items: center;
    top: 160px;
}
.mainMobileMenu{
    position: fixed;
    top: 0;
    right: -100vw;
    opacity: 0.3;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(
       90deg
        ,rgba(#1a0404,0) 00%,rgba(#1a0404, 0.8) 0%,#200808 0%),linear-gradient(
        180deg
        ,rgba(#1a0404,0) 78%,rgba(#1a0404,.49) 0%,rgba(#1a0404,.8) 50%,#1a0404);



    z-index: 1;
    animation-delay: 0s;
    animation: 0.3s 1 linear;
    animation-name: show;
    margin-left: 100vw;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.menuIcon{
    z-index: 2;
    position: relative;
    right: -20px;
    bottom: 8px;
}
.MainListMenuMobile{
    position: relative;
    top: 200px;
    left: 5%;
    width: 90%;
    height: 250px;
    border-radius: 7px;
    background: rgba(#720101, 0.8);
}
.nameWebsite{
    position: absolute;
    font-size: 6vw;
    z-index: 2;
 color: white;
 left: 40vw;
 top: -6vw;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.listMenuMobile{
    position: relative;
    left: 5%;
    width: 90%;
    height: 50px;
  
    border-bottom: 1px solid rgba(#000000 , 0.6);
    display: flex;
    direction: rtl;
 
    padding-right: 10px;
    font-weight: bold;
    align-items: center;
 
    color: rgba(white , 0.8);
    font-size: 16px;
}
.signIn{
    position: relative;
    top: 100px;
    width: 90%;
    left: 5%;
    height: 50px;
    background: linear-gradient(   90deg,#646464 0,rgb(180, 180, 180));
    display: flex;
    direction: rtl;

    padding-right: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
   
    color: rgba(white , 0.8);
}
