
  @keyframes searchOpen {
    0% {
      right: 100vw;
      opacity: 1;
    }
    50%{
      right: 30vw;
    }
  100% {
      right: 0;
     
    
  }
  }
  .btnSignMenu{
position: absolute;
display: flex;
top: 12px;
left: 0vw;
  }
  @keyframes roundA{
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  @keyframes searchOpenSpasification {
    from {
      bottom: -11vw;
    }
    to {
      bottom: 0;
    }
  }
.menu_I{
  color: rgb(240, 232, 232);
  font-size: 20px;

}
.mainSearchScroll{
  position: relative;
  width: 100%;
  height: 100vh;
  top: 60px;
  overflow-y: auto;
}

.iconSearchMenu{
  width: 60px;
  color: #000;
  font-size: 5vw;
  
  height: 60px;
}
.mainSearch{
  position: absolute;
  width: 100%;
  opacity: 0;
  min-height: 100vh;

  z-index: 5;
  top: 0;
  right: 100vw;
  animation: 0.4s 1 linear;
  animation-name: searchOpen;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.prodectMain{
  margin-top: 2vw;
  float: left;
  margin-left: 1.3vw;
  width: 12.5vw;
  height: 17vw;
 background: rgba($color: #4d4d4d, $alpha: 0.8);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  &:hover{
    .spasificationSearch{
animation: 0.3s 1 linear;
animation-name: searchOpenSpasification;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
    }
  }
}
.spasificationSearch{
  position: absolute;
  width: 100%;
  height: 11vw;
  background: rgb(138, 138, 138);
  bottom: -11vw;
background: linear-gradient(   180deg,rgba(black,0.8) 0,rgba(black,1));
  z-index: 1;
}
.nameSearchMovie{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 1.1vw;
  color: rgba(white,  0.7);

  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.discriptionSearchMovie{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(white,  0.7);
  font-size: 0.8vw;
  margin-top: 1.5vw;
}

.mainSearchTop{

  width: 100%;
  height: 60px;
  background: black;
position: fixed;
z-index: 1;
}
.canseleSearch{
font-size: 1.3vw;
color: white;
  width: 3vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  opacity: 0.6;

  cursor: pointer;
  text-transform: uppercase;

  letter-spacing: 2px;
  &:hover{
    opacity: 1;
  }
}
.lapleSearch{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8vw;
color: white;
opacity: 0.6;
margin-right: 20px;
  right: -2vw;
  width: 5vw;
  height: 60px;
  top: 0;
}

.inputSearch{
  position: absolute;
  top: 5px;
  width: 92vw;
  height: 50px;
  left: 4.5vw;
  background: #9e00008a;
  border: none;
  border-radius: 10px;
  outline: none;
  direction: rtl;
  font-size: 1.5vw;
  color: white;
  padding-right: 1vw;
  
}



.heros{
  width: 100%;
  height: 80px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.mainMenu{
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 5;
}
.nameHero{
  margin-top: 120px;
  margin-left: -90px;
  color: rgb(77, 80, 80);
}
.itemHeros{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  margin-left: 1vw;
}

.cardA{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 10px;
  left: 2vw;
}
.MuiToolbar-root	{
    background-color:
    black;
  }
  
#customized-menu{
    width: 900px;
    color: black;
}
.title{
  flex-grow: 1;
}
.IconButton{
  margin-left: 50px;

}
.MuiAvatar-img{
  width: 50px;
  height: 50px;
}


.notificationItemLest::-webkit-scrollbar {
  display: none;

}
.MuiListItemText-primary	{

  position: absolute;
  top: 3px;
  right: 0;
  }
  

.MuiListItemText-secondary{
position: relative;
left: 15px;
top: 10px;
overflow: hidden;

}

.notificationItemLest {
  overflow-y: scroll;
  max-width: 450px;
  max-height: 420px;
  -ms-overflow-style: none; 
  scrollbar-width: none;  /* Firefox */
}

.avatarImg{
  width:99% !important;  
height : 100% !important;  
max-width: 40px !important;  //any size
max-height: 40px !important;
}
.imgProfile{
  border-radius: 50%;
}




@media screen and (max-width: 1200px) {
  .canseleSearch{
    font-size: 3vw;
      width: 5vw;
      margin-left: 10px;
    }
    .lapleSearch{

      font-size: 5vw;
      right: -1vw;
      width: 5vw;
    }
    .inputSearch{
      width: 84vw;
      left: 9vw;
      font-size: 3vw;
    }
    .prodectMain{
      margin-top: 2vw;
      margin-left: 1.3vw;
      width: 18.3vw;
      height: 26vw;
       
    }

}
@media screen and (max-width: 680px) {
  .btnSignMenu{

    top: 8px;

      }
  .mainSearch{

    animation: 0.15s 1 linear;
    animation-name: searchOpen;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

  }
  .canseleSearch{
    font-size: 3vw;

    }
    .lapleSearch{

      font-size: 8vw;

    }
    .inputSearch{
      width: 80vw;
    }
    .prodectMain{
      margin-top: 2vw;
      margin-left: 1.3vw;
      width: 23.3vw;
      height: 33vw;
    }

}
@media screen and (max-width: 450px) {
  .spasificationSearch{
    display: none;
  }
  .mainMenu{
  height: 45px;
  }
.iconSearch{

  margin-bottom: 10px;
  margin-left: -20px;


}
.mainSearchTop{
  height: 50px;
}
  .canseleSearch{
    font-size: 5vw;
      margin-left: 3.5vw;
    }
    .lapleSearch{
      font-size: 30px;
      right: -4vw;
      top: -5px;
      width: 30px;
      opacity: 0.8;
      }
    .inputSearch{
      width: 87vw;
      left: 12vw;
      height: 40px;
     padding-right: 35px;
      font-size: 5vw;
    }
    
    .prodectMain{
      margin-top: 2vw;
      margin-left: 1.3vw;
      width: 30.7vw;
      height: 45vw;
    }

}
@media screen and (max-width: 300px) {
  .canseleSearch{
    font-size: 4.5vw;
      width: 4vw;
      margin-left: 2.5vw;
    }
    .lapleSearch{
      display: none;
    }
    .inputSearch{
      width: 90vw;
      left: 9vw;
      padding-right: 10px;
      font-size: 7vw;
    }
    

}