
@keyframes ColorTransition {
  0% {
   background: gold;
  }
  20% {
    background: rgb(167, 142, 2);
   }
   40% {
    background: rgb(149, 184, 22);
   }
   60% {
    background: rgb(51, 128, 0)
   }
   80% {
    background: green;
   }
  100% {
    background: rgb(208, 255, 0);
    
  }
}
@keyframes fromBottom {
  0% {
    bottom:  -50%;
    opacity: 0;
  }

100% {
  bottom: 0;
  opacity: 1;
  
}
}
@keyframes fromtop {
  0% {
    top:  -50%;
    opacity: 0;
  }

100% {
  top: 0;
  opacity: 1;
  
}
}

@keyframes fade {
  0% {
    opacity: 1;
  }

100% {
  opacity: 0;
}
}
.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.Columen{
  width: 50%;
   
  h4{
    color: #ffffffd2;
    height: 0;
    font-weight: 400;
  }
  p{
    color: #a1a1a1;
  }
}

.playSliderInformation{
  position: absolute;
  height: 50%;
  width: 100%;
  background: linear-gradient(#000000,#00000049);
  top: -50%;
  z-index: 2;
}
.InformationSlider{
  position: absolute;
  height: 50%;
  width: 100%;
  background: linear-gradient(#00000049,#000000);
  bottom:  -50%;
  z-index: 2;
  opacity: 0;
}
.contannerGeneress{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.contannerModelSlider{
  width: 100%;
  margin-top: 360px;

}
.ColorTransition{
  position: fixed;
  z-index: 3;
  width:700px;
  top: 320px;
  height: 2px;


}
.muteandunmute{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 250px;
  z-index: 5;
  right: 25px;
}
.contannerBoxSlider{
  position: relative;
  width: 90%;
  direction: rtl;

  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: rgb(20, 20, 20);
  left: 5%;
  padding: 20px;
}
.nameSliderMore{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 10px;
}
.ReactPlayerModel{
  height: 335px;
  width:700px;
  overflow: hidden;
  position: fixed;
  z-index: 2;
}
.overlayReactPlayerModel{
  height: 335px;
  width:700px;
  position: fixed;
  z-index: 3;
}
.videoT{
  position: relative;
  left: 0;
  top: -60px;
  }
.playSliderInformationInsidee{
  position: absolute;
  width: 100%;
  top: 50%;
}
.InformationSliderInsidee{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.numberOfServer{
  position: absolute;
  bottom:  10px;
  right: 10px;
  z-index: 2;
}
.Rating{
  position: absolute;
  top:  10px;
  left: 10px;
  z-index: 2;

 
}
.MainSliderInformation{
  width: 100%;
 height: 800px;
}
.NameSlider{
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.521);
  z-index: 2;
  font-size: 22px;
  top: -100px;
  left: 0;
  color: #ffffffd2;
  display: flex;  
  text-indent: 0;
  line-height: 0.9;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0;
}
.moreSliderInformation{
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30px;
  position: relative;
  right: 5%;
  border-radius: 18px;
  color: #ffffffd2;
  font-size: larger;
  background: #3d3d3dfb;
  transform: 0.3s;
  transition: 0.3s;
  &:hover{
    background: rgb(19, 14, 14);
  }
  
}
::-webkit-scrollbar {
  width: 0px;
}
.MainModel{
  width: 700px;
  position: absolute;
  left:calc( 50% - 350px );
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 1px;
  }
  background: rgb(2, 2, 2);
}

.NameSliderMain{
  position: absolute;
  top: 2vh;
color: rgba(255, 255, 255, 0.63);
display: none;

}
.infoSliderMain{
  position: absolute;
 color: #ffffffd2;
 top: 5vw;
 width: 100%;
 font-size: 14px;
  z-index: -1;
  display: none;
}

.MainSlideeer{

  margin-top: 80px;
}
.nameSearchMovie{
  position: relative;
  width: 100%;
  font-size: 1.1vw;
  color: rgba(#ffffffd2,  0.8);

  display: flex;
  justify-content: center;
  text-align: center;

}
.swiper-button-prev,.swiper-button-next{
  display: none;
}
.nameSliderr{
  width: 99.8%;
  font-size: 24px;
  color: #9e9797;
  direction: rtl;
  border-right:4px solid #72010157;
  padding-right: 10px;
padding-top: -10px;
  margin-bottom: -32px;
  margin-right: 1%;
  height: 30px;
 
  span{
      cursor: pointer;
 
      &:hover{
        color: #eee7e7;
      }
  }
}


.sitingsSlider{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.disSliderMovie{
  position: relative;
  width: 100%;
  margin-top: 10px;
   max-height: 60px;
   overflow: hidden;
  font-size: 14px;
  color: rgba(#ffffffd2,  0.7);
  display: flex;
  justify-content: center;
  text-align: center;
}


.bottonSlider{
  border-radius: 50%;
  background: transparent;
  color: rgb(134, 133, 133);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
width: 1.0vw;
height: 1.6vw;
 margin: 0.2vw;
 .btn_It{
   width: 1.2vw;
 }
 &:hover{
   border-color: #9e00005e;
   .btn_It{
     transform: 0.4s;
     transition: 0.4s;
     transition-delay: 0.4;
     color: rgb(226, 226, 226);
   }
 }
}

.ItemSwiper{
  background: #9e00005e;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 15.43vw;

  &:hover{
    .numberOfServer{
      animation: 0.4s 1 linear;
      animation-name: fade;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .Rating{
      animation: 0.4s 1 linear;
      animation-name: fade;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .playSliderInformation{
      animation: 0.4s 1 linear;
      animation-name: fromtop;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .InformationSlider{
      animation: 0.4s 1 linear;
      animation-name: fromBottom;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .NameSlider{
      animation: 0.4s 1 linear;
      animation-name: fromTop;
      animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }

}

.innerItem{
 position: relative;
 width: 100vw;
 height: 60vw; 
 z-index: 581458;

 background: red;
}
@media screen and (max-width: 1024px) {
  .disSliderMovie{
    font-size: 16px;
  }
  .nameSearchMovie{
    font-size: 16px;
  }

  .ItemSwiper{
    height: 22vw;
  }

  .MainSlideeer{
      margin-top: 30px;
  }
  .nameSliderr{
      font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .ItemSwiper{
    height: 32vw;
  }
}


@media screen and (max-width: 500px) {

  .ReactPlayerModel{
    height: 73vw;
    left: 0px;
    top: -60px;

  }

  .overlayReactPlayerModel{
    height: 56.4vw;
    width:100%;
    position: fixed;
    z-index: 3;
  }
  .ColorTransition{
    position: fixed;
    z-index: 3;
    width:700px;
    top: 56.5vw;
    height: 2px;
  background: #720101;
  
  }
  .MainModel{
    width: 100%;
    left:0;

  }

  .contannerModelSlider{
    margin-top: 60vw;
  
  }
  .FinalSlider{
    width:40%;
    height:20px;
    font-size:12px;
   border-radius:850px;
   left: 1px;
   top:1px;
  }

  .dateSlider{
    width:60%;
    height:20px;
    font-size:12px;
    border-radius:850px;
   left: 20%;
   bottom:1px;
  }
  .NoSErSlider{
    width:40%;
    height:20px;
    font-size:10px;
    border-radius:850px;
   right:  1px;
   top:1px;
  }
  .MainSlideeer{
      margin-top: 43px;
  }
  .nameSliderr{
      font-size: 20px;
     

  }

  .ItemSwiper{
    border-radius: 4px;
      height: 62.28vw;
      &:hover{
          animation-name: none;
          animation-duration: 0s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
         }
  }

}

