
.MainItemsList{
  position: relative;
  width: 98vw;
left: 1vw;
top: 120px;



}

.slasah{
  margin: 5px;
}
.mylist{
z-index: 2;
width: 100%;
height: 135px;
position:fixed;
font-size: 2.2rem;
 top: -10px;
    background: #210909;
    color: white;
    span{
      position: absolute;
      bottom: 10px;
      right: 30px;
    }
  }

.iconList{
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(180, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  top: 5px;
  transform: 0.5s;
  transition: 0.5s;
  opacity: 0.7;
  &:hover{
opacity: 1;
background: red;
  }
}
.sooory{
    width: 100%;
    height: 70vh;

    position: fixed;
     display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
  
  }